// Global Settings
$text-align-center: center;
$text-align-left: left;
$text-align-right: right;

// Body Font
$font-family-body: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Background
$bg-body: #dfdf99;
$bg-header: #cdc1ce;

// Header
$header-width: 420px;
$header-fontsize: 14px;
$header-margin: 100px auto;
$header-padding: 20px 20px 20px 20px;
$header-color: #1144fe;
$header-border: 2px solid #999
