* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  background: #eee;
  font-family: "맑은 고딕", 돋움, 굴림;
}
h1 {
  font-weight: 200;
  color: #3b414c;
  font-size: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#root,
.App {
  height: 100%;
}

.KanbanBoard {
  white-space: nowrap;
  height: 100%;
  margin: 20px auto;
}

.CardList {
  position: relative;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  height: 100%;
  width: 33%;
  padding: 0 20px;
  overflow: auto;
}
.CardList:not(:last-child):after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 99%;
  background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}

.Card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
.Card__Title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
}
.Card__Title:before {
  display: inline-block;
  width: 1em;
  content: "▸";
}
.Card__Title--is-open:before {
  content: "▾";
}

.TaskList__Task:first-child {
  margin-top: 10px;
  padding-top: 10px;
  border-top: dashed 1px #ddd;
}
.TaskList__Task--remove:after {
  display: inline-block;
  color: #d66;
  content: "✖";
}
