@charset "utf-8";

:global(.App) {
  .SearchBar {
    width: 100%;
    text-align: left;
    padding: 5px 0 8px;

    input {
      width: 288px;
      border: 1px solid #d9d9d9;
      padding: 5px;
    }

    input {
      outline: none;
    }
  }
}
