@charset "UTF-8";
*       { box-sizing: border-box; margin: 0; padding: 0; }
html,
body    { font:0.75em "맑은 고딕", 돋움, 굴림; text-align:center; overflow-y: hidden }
ul, ol	{ list-style-type: none }

:global(#root)  { height:100%; width:100%; margin:0 auto;  }
:global(.App)   { height: 100vh; width:100%; margin:0 auto; overflow-y: scroll }