<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/user/join" method="post">
        <label>이름</label>
        <input name="name" type="text" />
        <br><br>
        <label>이메일</label>
        <input name="email" type="email" />
        <br><br>
        <label>비밀번호</label>
        <input name="password" type="password" />
        <br><br>

        <input type="submit" value="가입">
    </form>

</body>

</html>